Source: procps
Section: misc
Priority: extra
Maintainer: DongGi Jang <dg0402.jang@samsung.com>
Uploaders: DongGi Jang <dg0402.jang@samsung.com>
Build-Depends: debhelper (>= 5), libncurses5-dev
Standards-Version: 3.2.8

Package: procps
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Procps
 The /proc file system utilities
